In [6]:
#k mean cluster
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Allows charts to apper in the notebook
%matplotlib inline

In [36]:
#Importing data set
dataset= sns.load_dataset('tips')

x=dataset[dataset.columns[0:2]] # It returns rows  last rows first
x.head()  # It gives the first 5 rows

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61